<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/headTag.ejs') %>
		<!-- <link rel="stylesheet" type="text/css" href="/css/signup.css" /> -->
		<title>Dashboard</title>
	</head>
	<body>
		<!-- TODO -->
		<!-- Header -->

		<!-- <div class="container">
			<div><a href="/">Home</a></div>
			<h1>Dashboard Page</h1>
			<div class="text-center">
				<br />
				<h2>Welcome <%= user.firstName %> <%= user.lastName %></h2>
			</div>
			<hr />
			<h4>Username: <%= user.userName %></h4>
			<h4>Mobile Number: <%= user.mobile %></h4>
			<button id="edit" data-id="<%= user._id %>" class="btn btn-primary">Edit</button>
			<button id="logout" data-id="<%= user._id %>" class="btn btn-primary">Logout</button>
			<button class="btn btn-danger">Delete</button>
		</div> -->

		<!-- Dashboard Start -->
		<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
			<a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">DASHBOARD</a>
			<button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search" />
			<ul class="navbar-nav px-3">
				<li class="nav-item text-nowrap">
					<button id="logout" class="nav-link btn btn-link px-3 py-0">Sign out</button>
				</li>
			</ul>
		</nav>

		<div class="container-fluid">
			<div id="alert" role="alert"></div>

			<div class="row">
				<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
					<div class="sidebar-sticky pt-3">
						<ul class="nav flex-column">
							<li class="nav-item">
								<div style="width: 120px; height: 150px;">
									<img src="/uploads/<%= user.avatar %> " alt="Image" class="rounded" style="width: 100%; height: 100%;" />
								</div>
							</li>
							<li class="nav-item">
								<br />
								<h4 class="mt-2"><%= user.firstName %> <%= user.lastName %></h4>
							</li>
						</ul>
						<a type="button" href="/api/user/editProfile" class="btn btn-primary">Edit Profile</a>
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
					<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<!-- <h1 class="h2">ARTICLES</h1> -->
						<div class="btn-toolbar mb-2 mb-md-0">
							<div class="btn-group mr-2">
								<button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
								<button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
							</div>
							<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
								<span data-feather="calendar"></span>
								This week
							</button>
						</div>
					</div>
					<div class="d-flex justify-content-between">
						<h2>ARTICLES</h2>
						<a type="button" href="/api/user/addArticle" class="btn btn-primary mb-2">Add Article</a>
					</div>
					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Subject</th>
									<th>Date</th>
								</tr>
							</thead>
							<tbody>
								<% for (let i = 0; i < articles.length; i++) { %>
								<!-- loop in the articles -->
								<tr>
									<td><%= i+1 %></td>
									<td><%= articles[i].title %></td>
									<td><%= articles[i].date %></td>
								</tr>

								<% } %>
							</tbody>
						</table>
					</div>
				</main>
			</div>
		</div>
		<!-- Dashboard End -->

		<%- include("../partials/scripts.ejs") %>
		<script src="/js/dashboard.js"></script>
	</body>
</html>
