<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/headTag.ejs') %>
		<!-- <link rel="stylesheet" type="text/css" href="/css/signup.css" /> -->
		<title>Dashboard</title>
	</head>
	<body>
		<!-- Navbar -->
		<%- include('../partials/navbar.ejs') %>

		<!-- Dashboard Start -->
		<div class="container-fluid">
			<div class="row">
				<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
					<div class="sidebar-sticky pt-3">
						<ul class="nav flex-column">
							<li class="nav-item">
								<div style="width: 170px; height: 200px;">
									<img src="/uploads/<%= user.avatar ? user.avatar : 'defaultProfileAvatar.png' %>" alt="avatar" class="rounded" style="width: 100%; height: 100%;" />
								</div>
							</li>
							<li class="nav-item">
								<button type="button" id="changeAvatar" class="btn btn-outline-primary mt-3" data-toggle="modal" data-target="#uploadAvatarModal">Change picture</button>
							</li>
							<li class="nav-item">
								<br />
								<h4><%= user.firstName %> <%= user.lastName %></h4>
							</li>
						</ul>
						<button class="btn btn-primary">Edit Profile</button>
						<br />
						<button id="logout" class="btn btn-primary mt-3">Sign out</button>
					</div>
				</nav>

				<!-- Start Modal for uploading avatar -->
				<div class="modal fade" role="dialog" id="uploadAvatarModal">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h3 class="modal-title">Choose your image</h3>
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
								<div id="alertModal" role="alert"></div>
								<div class="form-group">
									<form action="" id="form">
										<input type="file" name="avatar" id="chosenAvatar" class="form-control" />
									</form>
									<div id="selectedAvatar" class="d-none" style="width: 170px; height: 200px;"></div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" id="uploadBtn" class="btn btn-outline-secondary">Upload</button>
							</div>
						</div>
					</div>
				</div>
				<!-- End Modal for uploading avatar -->

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
					<div id="alert" role="alert"></div>
					<h2>PROFILE</h2>
					<form action="" method="" id="form">
						<div class="row">
							<div class="form-group col-6">
								<label for="firstName">First Name</label>
								<input type="text" class="form-control" id="firstName" value="<%= user.firstName %>" autofocus />
							</div>
							<div class="form-group col-6">
								<label for="lastName">Last Name</label>
								<input type="text" class="form-control" id="lastName" value="<%= user.lastName %>" />
							</div>
						</div>
						<div class="form-group form-check form-check-inline">
							<label class="form-check-label" for="male">male</label>
							<input class="form-check-input" type="radio" name="sex" id="male" value="male" checked />
						</div>
						<div class="form-group form-check form-check-inline">
							<label class="form-check-label" for="female">female</label>
							<input class="form-check-input" type="radio" name="sex" id="female" value="female" />
						</div>
						<!-- TODO: changing avatar should be separate from editing profile info -->
						<!-- <div class="form-group form-check-inline ml-5">
							<label for="avatar">Your image: </label>
							<input type="file" id="avatar" placeholder="Avatar" />
						</div> -->
						<div class="form-group">
							<label for="userName">Username</label>
							<input type="text" class="form-control" id="userName" value="<%= user.userName %>" />
						</div>
						<div class="form-group">
							<label for="mobile">Mobile No.</label>
							<input type="text" class="form-control" id="mobile" value="<%= user.mobile %>" />
						</div>

						<a type="button" href="/api/user/dashboard" id="cancel-btn" type="submit" class="btn btn-secondary">Cancel</a>
						<button id="edit-btn" type="button" class="btn btn-success">Submit changes</button>
					</form>
					<br />
					<hr />
					<div class="row">
						<button id="showPasswordInput" type="button" class="btn btn-primary">Change Password</button>
						<!-- This part is display none first. after clicking the change password button 'd-none' class will be removed -->
						<form class="form-inline" action="">
							<button id="changePasswordPage" type="button" class="btn btn-success d-none">Check</button>
							<div class="form-group">
								<!-- <label for="password">Password</label> -->
								<input type="password" class="form-control d-none ml-3" id="password" placeholder="Enter your current password" autofocus />
							</div>
						</form>
					</div>
				</main>
			</div>
		</div>
		<!-- Dashboard End -->

		<%- include("../partials/scripts.ejs") %>
		<script src="/js/editProfile.js"></script>
	</body>
</html>
