<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/headTag.ejs') %>
		<!-- <link rel="stylesheet" type="text/css" href="/css/signup.css" /> -->
		<title>Dashboard</title>
	</head>
	<body>
		<!-- Navbar -->
		<%- include('../partials/navbar.ejs') %>

		<!-- Dashboard Start -->
		<div class="container-fluid">
			<div id="alert" role="alert"></div>

			<div class="row">
				<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
					<div class="sidebar-sticky pt-3">
						<ul class="nav flex-column">
							<li class="nav-item">
								<div style="width: 170px; height: 200px;">
									<img src="/uploads/<%= user.avatar  ? user.avatar : 'default.png' %>" alt="Image" class="rounded" style="width: 100%; height: 100%;" />
								</div>
							</li>
							<li class="nav-item">
								<br />
								<h4 class="mt-2"><%= user.firstName %> <%= user.lastName %></h4>
							</li>
						</ul>
						<a type="button" href="/api/user/editProfile" class="btn btn-primary">Edit Profile</a>
						<button id="logout" class="btn btn-primary mt-3">Sign out</button>
					</div>
				</nav>

				<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 mt-4">
					<div class="d-flex justify-content-between">
						<h2><%= article.title %></h2>
						<div>
							<a href="/api/articles/editArticle/<%= article._id %>" type="button" id="editArticle" href="/api/articles/addArticle" class="btn btn-outline-primary mb-2" data-id="<%= article._id %> ">Edit Article</a>
							<button type="button" id="deleteArticle" href="/api/articles/addArticle" class="btn btn-outline-danger mb-2" data-id="<%= article._id %> ">Delete Article</button>
						</div>
					</div>

					<p class="text-muted"><%= article.createdAt %></p>
					<img src="" alt="" />
					<p><%= article.body %></p>
					<br />
					<hr />
					<!-- Comments -->
					<div class="card" style="width: 100%;">
						<div class="card-header bg-dark text-white">
							<h5 class="p-0 m-0"><%= comments.length === 0 ? 'No comments on this post yet.' : 'Comments on this post' %></h5>
						</div>
						<ul class="list-group list-group-flush">
							<% for(let i = 0; i < comments.length; i++) {%>
							<!--Loop through comments  -->
							<li class="list-group-item">
								<h5><%= comments[i].name.firstName %> <%= comments[i].name.lastName %></h5>
								<p><%= comments[i].message %></p>
							</li>
							<% } %>
						</ul>
					</div>
				</main>
			</div>
		</div>
		<!-- Dashboard End -->

		<%- include("../partials/scripts.ejs") %>
		<script src="/js/readMore.js"></script>
	</body>
</html>
